<h1> About counting words</h1>

This is an interesting excercise of counting owrds using Django and Python.



Lorem ipsum dolor sit amet, vis sumo mnesarchum incorrupte ad, eu quo odio ullum imperdiet. Est vitae persius alienum ea, pro tempor gloriatur te, sit nullam inermis luptatum no. Diam tacimates ex cum, vel vitae impedit rationibus cu, atqui saperet fuisset eam no. Eros quaerendum et sea, qui indoctum partiendo ei, at wisi laboramus cum. Per dolorem reformidans at. Dictas sensibus assentior ne est, no vitae equidem suavitate nam, ea minim recusabo per. Reque fastidii pro eu, mel no malorum utroque hendrerit.

Nulla omittam pertinacia cu duo, maiorum reformidans vim ne. Aperiri maluisset ea sed. Tibique officiis pericula te vis, eum patrioque scribentur ei, eam cu lorem nostrum. Sit numquam impedit percipitur ei, eu autem admodum cum. Vis commune assentior ne, ad audiam fuisset usu. Sed eu sale virtute definitionem.

Sea doming luptatum ei, duo legere altera in, in quaeque maiorum has. Pro ei maiorum consectetuer. Facete noluisse moderatius ad ius, ex adipisci adversarium nec, per unum sale magna id. Eu vero blandit vivendum pro.

Sanctus inermis voluptua eam eu. An his augue laboramus suscipiantur. Tantas persequeris complectitur ex sit, at minimum efficiantur mea. No reque mentitum pro, eligendi rationibus ne est. Modo eruditi platonem cu mel, ipsum omittantur vis eu. Choro petentium molestiae has at, offendit intellegat pri te.

Mea elit percipit omittantur ne, cum in commune partiendo erroribus. Mea dolor dictas interesset in. Scripta saperet no eos, cu summo vulputate pri. Pri justo scripta appellantur ei, ex movet nostrud numquam pro. Et usu nostro quaeque lobortis.
